<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	
	</configSections>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web>


	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ascx" />
			
			<add name="ascx" verb="*" path="*.ascx" type="nilnul.web.http.svr.app.handler_.ascx_.OnPage,nilnul._web_._LIB_" />
			
		</handlers>
		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".ascx" />
					<add allowed="true" fileExtension=".ascx" />
				</fileExtensions>
			</requestFiltering>
		</security>
		
	</system.webServer>

</configuration>
