<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	
	
	<system.webServer>
		<handlers>
			<remove name="ascx" />
			
			<add name="ascx" verb="*" path="*.ascx" type="nilnul.web.http.svr.app.handler_.ascx_.OnPage,nilnul._web_._LIB_" />
			
		</handlers>
		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".ascx" />
					<add allowed="true" fileExtension=".ascx" />
				</fileExtensions>
			</requestFiltering>
		</security>
		
	</system.webServer>

</configuration>
